.li {
    align-items: center;
    display: flex;
  }

.p {
    font-weight: bold;
    margin-right: 15px;
    font-weight: bold;
    color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgb(157, 255, 19), rgb(6, 81, 255));
  }

.button {
      height: 18px;
      width: 60px;
  }
